fastapi==0.115.8
uvicorn[standard]==0.34.0
python-dotenv==1.0.1
sqlalchemy==2.0.37
aiosqlite==0.20.0
databases==0.9.0
pydantic==2.10.5
pydantic-settings==2.7.1
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.20
playwright==1.49.1
httpx==0.28.1
loguru==0.7.3
openpyxl==3.1.5
